<div class="overlay" style="color:#fff"><h1 style="text-align: right;padding: 23px">Xavier! An Online Quick Quoting System</h1>
</div>
<div><h2><a ng-href="#!admin" style="float: right;margin: 22px;margin-top: 84px;">News Update For Admin</a></h2></div>
<div><h2><a ng-href="#!quote" style="float:right;margin: 22px;margin-top: 84px;">Post Your Quote</a></h2></div>

    <div class="masthead">
      <div class="masthead-bg"></div>
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-12 my-auto">
            <div class="masthead-content text-white py-5 py-md-0">
              <h1 class="mb-3">Xavier Coming Soon!</h1>
              <p class="mb-5">We're working hard to finish the development of this site.
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>

