<div>
    <h1 style="text-align: center;padding: 10px;">{{title}}</h1>
</div>
<div ng-if="!edit">
    <form style="width: 500px;padding: 50px;" ng-submit="createNewsPost()">
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" ng-model="news.title"/>
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea  type="text" class="form-control" ng-model="news.description"></textarea>
        </div>
       
        <div class="form-group" >
            <input type="submit" class="btn" value="SUBMIT NEWS" />
        </div>
    </form>
</div>

<div ng-if="!!edit">
    <form style="width: 500px;padding: 50px;" ng-submit="updateNewsPost()">
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" ng-model="news.title"/>
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea  type="text" class="form-control" ng-model="news.description"></textarea>
        </div>
       
        <div class="form-group" >
            <input type="submit" class="btn" value="UPDATE NEWS" />
        </div>
    </form>
</div>

<div>
    
    <ul style="padding: 0px">
        <li style="list-style: none;border: 1px solid gray;padding: 10px;margin: 10px;" ng-repeat="news in newslist">
            <div><h6>{{news.title}}</h6><span style="float:right;"><button ng-click="makeEditable(news)" >Edit</button><button ng-click="delete(news._id)">Delete</button></div>
            <div>{{news.description}}</div>
        </li>
    </ul>
</div>