<div>
    <h1 style="text-align: center;padding: 10px;">Place You Quote</h1>
</div>
<div>
    <form style="width: 500px;padding: 50px;" ng-submit="submitQuote()">
        <div class="form-group">
            <label>Owner Name</label>
            <input type="text" class="form-control" ng-model="quoteData.owner_name"/>
        </div>
        <div class="form-group">
            <label>Jet Model</label>
            <input type="text" class="form-control" ng-model="quoteData.model"/>
        </div>
        <div class="form-group">
            <label>Jet Seat Capacity</label>
            <input type="number" class="form-control" ng-model="quoteData.seat_capacity" />
        </div>

        <div class="form-group">
            <label>Manufacturing Date</label>
            <input type="date" class="form-control" ng-model="quoteData.manufactured_date"/>
        </div>

        <div class="form-group">
            <label>Purchase Price</label>
            <input type="text"  class="form-control" ng-model="quoteData.purchase_price"/>
        </div>

        <div class="form-group">
            <label>Broker Email</label>
            <input type="email" class="form-control" ng-model="quoteData.broker_email"/>
        </div>

        <div class="form-group">
            <input type="submit" class="btn" value="SUBMIT QUOTE" />
        </div>
    </form>

</div>